{% extends 'base.html'%}
{%load static%}

{% block title%}
<div class='container'>
	<h1>Your accounts</h1>
	<a href = '{% url "account-create" %}'>create account</a>
</div>
{% endblock%}

{% block content%}

<div class="container">
	{% for account in object_list %}
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h6>{{account.title}} <a href='{% url "app-list" account.id %}'>apps</a> <a href='{% url "account-update" account.id %}'>update</a></h6>
		</div>
	</div>
	{% empty %}
	<h3>No accounts yet.</h3>
	{% endfor %}

</div>
{% endblock%}